# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\OneDrive - The University of Texas at Dallas\UTD MIS PhD YXL180111\2020 Fall\Course\MIS 7420 Seminar in Management Information Systems\Assignment\sales_ccity5milezipcode_sample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
